---
layout: page
linkTitle: Apartments
title: Belfast City Centre Serviced Apartments
permalink: /apartments/
gallery:
    - image: h_w_cranes.jpg
---

{% for apartment in site.pages %}
{% if apartment.layout == 'apartment' %}
<section id="{{ apartment.permalink | remove: '/'}}"
         class="apartments-apartment section section--dark-faded bg--lazy"
         data-src="{{ apartment.gallery[0].image | prepend: '/' | prepend: site.imagePrefix }}">
    <div class="container">
        <h3>{{ apartment.title | escape}}</h3>
        <div class="price">Starts from <span>&pound;{{ apartment.price }}<abbr title="per night">pn</abbr></span></div>
        <p>{{ apartment.summary }}</p>
        <div class="buttons">
            <a href="{{ apartment.url | prepend: site.baseurl }}" class="button">More information</a>
            <a href="{{ apartment.url | prepend: site.baseurl }}#booking" class="button">Check availability</a>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}