<section id="booking">
    <h3>Booking</h3>
    <form action="https://formspree.io/{{site.email}}" method="post" class="booking-form">
        <label for="Checkin">Check in date</label>
        <input name="Checkin" type="date" required="required" data-mindate="tomorrow">

        <label for="Checkout">Check out date</label>
        <input name="Checkout" type="date" required="required" data-mindate="tomorrow">

        <label for="Guests">Number of guests</label>
        <input name="Guests" type="number" min="1">

        <label for="Email">Email address</label>
        <input name="Email" type="email" required="required">

        <label for="Name">Name</label>
        <input name="Name" type="text" required="required">

        <label for="Telephone">Telephone</label>
        <input name="Telephone" type="tel">

        <label for="Message">Message</label>
        <textarea name="Message" cols="30" rows="5" required="required"></textarea>

        <input type="hidden" name="_subject" value="Booking query">
        <input type="text" name="_gotcha" style="display:none">

        <button class="button">Check availability</button>

    </form>
</section>