<section class="productions">
    <div class="container">
        <h3>Featured productions</h3>
        <div class="productions__gallery">
            {% for production in site.productions %}
            <a href="{{ production.href }}"
               class="productions__gallery-item"
               title="{{ production.name }}"
               target="_blank">
                <img class="image--lazy"
                     data-src="{{ production.src | prepend: '/productions/' | prepend: site.imagePrefix }}"
                     alt="{{ production.name }}">
            </a>
            {% endfor %}
        </div>
    </div>
</section>
