<footer class="site-footer">
    <div class="container">
        <div class="contact-info">
            <div class="contact-details">
                <h4>Get in touch</h4>
                <ul>
                    <li class="telephone">
                        <a href="tel:+447821339498">
                            <svg class="icon"><use xlink:href="#phone"/></svg>
                            +44 (0) 78 2133 9498</a>
                    </li>
                    <li class="email">
                        <a href="mailto:enquiries@bt1apartments.co.uk">
                            <svg class="icon"><use xlink:href="#email"/></svg>
                            enquiries@bt1apartments.co.uk</a>
                    </li>
                </ul>
            </div>
            <div class="social">
                <h4>Social</h4>
                <ul>
                    <li><a href=""><svg class="icon"><use xlink:href="#facebook" /></svg> Facebook</a></li>
                    <li><a href=""><svg class="icon"><use xlink:href="#twitter" /></svg> Twitter</a></li>
                    <li><a href=""><svg class="icon"><use xlink:href="#instagram" /></svg> Instagram</a></li>
                </ul>
            </div>
        </div>
        <a href="http://discovernorthernireland.com" class="discoverni-logo"><svg><use xlink:href="#discoverni-logo" /></svg></a>
        <a href="http://visitbelfast.com" class="b-welcome-logo"><svg><use xlink:href="#b-welcome-logo" /></svg></a>
    </div>
</footer>
