<div class="gallery js-flickity"
     data-flickity-options='{ "imagesLoaded": true, "lazyLoad": true, "percentPosition": false }'>
    {% for cell in page.gallery %}
    <div class="cell cell-with-bg">
        {% if cell.header or cell.link %}
        <div class="container">
            <div class="wrapper">
                {% if cell.header %}
                    <h1>{{ cell.header | escape }}</h1>
                {% endif %}
                {% if cell.blurb %}
                    <p>{{ cell.blurb | escape }}</p>
                {% endif %}
                {% if cell.link %}
                    <a href="{{ cell.link | prepend: site.baseurl }}" class="button">
                        {% if cell.linkText %}
                            {{ cell.linkText | escape }}
                        {% else %}
                            {{ cell.link | escape }}
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <img class="cell__bg"
             data-flickity-lazyload="{{ cell.image | prepend: '/' | prepend: site.imagePrefix }}"
             alt="{{ cell.imageAlt }}">
    </div>
    {% endfor %}
</div>
