{% include images.svg %}

<header class="page-header">

    <div class="container">
        <a class="logo" href="{{ site.baseurl }}/"><svg><use xlink:href="#bt1apartments" /></svg></a>

        <nav class="site-nav">
            <ul>
                <li>
                    <a href="{{ '/apartments/' | prepend: site.baseurl }}" class="button">Belfast Apartments</a>
                    {% include apartments-nav.html %}
                </li>
                <li><a href="{{ '/aboutbelfast' | prepend: site.baseurl }}" class="button">About Belfast</a></li>
                <li><a href="{{ '/rates/' | prepend: site.baseurl }}" class="button">Rates</a></li>
                <li><a href="{{ '/reputation/' | prepend: site.baseurl }}" class="button">Reputation</a></li>
            </ul>
        </nav>
    </div>

</header>
