@import "vars";

.aboutbelfast {
  .city-hall-scaffolding {
    background-image: url(https://res.cloudinary.com/dinqcgp1o/image/upload/bt1images/about-belfast-city-hall-scaffolding.jpg);
  }

  .videos {
    iframe {
      height: 345px;
    }
  }

  .brochures .cols {
    flex-wrap: wrap;
    a {
      width: calc(25% - 1em);
      min-width: 100px + ($padding * 3 * 2);
      display: block;
      background-color: darken($pageBackgroundColor, 3%);
      color: $textColor;
      text-decoration: none;
      padding: $padding * 3;
      text-align: center;
    }
    img {
      box-shadow: 0 2px 10px darken($pageBackgroundColor, 50%);
    }
    .caption {
      display: block;
      font-size: .8em;
    }
  }
}
