.apartments-apartment {

  background-size: cover;
  background-position: center;

  .price {
    float: right;
    padding: $padding;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    color: transparentize($textColor, .33);
    background: $highlightColor;
    font-size: 15px;
    text-transform: uppercase;
    line-height:1;
    transform: rotate(15deg);
    box-shadow: 5px 10px 20px rgba(0,0,0,.5);
    span {
      color: $textColor;
      display: block;
      font-size: 3em;
      font-family: $headingFont;
    }
  }

  &#titanicquarter {
    @include semiTransBg('../images/titanicquarter-area.jpg');
  }
  &#margaritaplaza {
    @include semiTransBg('../images/margaritaplaza.jpg');
  }
  &#jamesclow {
    @include semiTransBg('../images/jamesclow.jpg');
  }
  &#ivyhouse {
    @include semiTransBg('../images/ivyhouse.jpg');
  }
}