#apartment-info {

  p {
    margin-top: 0;
  }
}

#services ul {
  padding-left: 0;
  list-style: none;

  li {
    margin-left: 30px;
    margin-left: calc(15px + 1em);
    text-indent: -30px;
    text-indent: calc(-15px - 1em);
    &:before {
      display: inline-block;
      width: 15px;
      height: 15px;
      content: ' ';
      background-image: url(../images/checked.svg);
      margin-right: 1em;
    }
  }
}

@import "booking";
@import "map";
