#apartment-info {
  .container {
    columns: 2;
    column-gap: 3em;
  }

  p {
    margin-top: 0;
  }
}

#services ul {
  list-style: none;

  columns: 2;
  column-gap: 3em;

  li:before {
    display: inline-block;
    width: 15px;
    height: 15px;
    content: ' ';
    background-image: url(../images/checked.svg);
    margin-right:1em;
  }
}

@import "booking";
@import "map";
@import "ivyhouse";
@import "margaritaplaza";
@import "jamesclow";
@import "titanicquarter";
