@import "vars";

.button {
  display: inline-block;
  background-color: $highlightColor;
  padding: 3px 10px;
  color: lighten($textColor, 20%);
  border: 0;
  border-bottom: 3px solid darken($highlightColor, 10%);
  text-decoration: none;
  border-radius: 3px;
  transition: all $transitionLength ease-in-out;
  text-align: center;

  &:hover {
    background-color: lighten($highlightColor, 5%);
    border-bottom-color: darken($highlightColor, 5%);
  }
}
