article {
  background-color: $pageBackgroundColor;
  color: darken($textColor, 10%);

  section {
    padding: $padding * 4 0;
    background-image: linear-gradient(to top, darken($pageBackgroundColor, .5%), transparentize($pageBackgroundColor, 1) 20px);
  }

  header {
    margin-top: 2em;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav {
        margin-left:$padding;
        display: flex;
        a {
          white-space: nowrap;
          text-decoration: none;
          display: block;
          padding: .25em .75em;
          background-color: darken($pageBackgroundColor, 2%);
          transition: background-color $transitionLength ease-in-out;
          color: $textColor;

          &:hover {
            background-color: darken($pageBackgroundColor, 10%);
          }
        }
      }
    }
  }
}

.sub-section {
  padding: $padding 0;
}

@import "gallery";
@import "home";
@import "apartment";
@import "apartments";
@import "about-belfast";
@import "content-foot";