@import "vars";

.productions {
  &__gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0;
    padding: 0;

    &.flickity-enabled {
      display: block;
      overflow-x: hidden;
    }

    &-item {
      height: 350px;
      display: block;
    }
  }
}
