.page-header {

  border-bottom: 2px solid transparentize(darken($pageBackgroundColor, 10%), .05);

  &.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    width: 100vw;
  }
  z-index: 999;
  background: transparentize($pageBackgroundColor, .05);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo > svg {
    width: 165px;
    height: 95px;
  }

  .site-nav {
    display: inline-block;

    a {
      display: block;
      text-align: left;
    }

    li {
      position: relative;
      display: inline-block;
      background-color: transparentize($highlightColor, 1);
      transition: background-color $transitionLength ease-in-out;

      > nav {
        position: absolute;
        top: -999em;
        opacity: 0;
        background-color: $highlightColor;

        transition: opacity $transitionLength ease-in-out;
      }

      &:hover {
        background-color: $highlightColor;

        > nav {
          opacity: 1;
          top: 2em;
        }
      }
    }

  }
}