@import "vars";

blockquote {
  font-family: $headingFont;
  font-style: italic;
  margin: 1em 0 0;
  padding: 1em;
  font-size: 1.35em;
  line-height: 1.2;
  border-left: 1em solid transparentize($textColor, .9);
  background-color: transparentize($textColor, .98);

  cite {
    margin-top: 1em;
    display: block;
    text-align: right;
    font-family: $copyFont;
    font-style: normal;
    font-size: .7em;
  }
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  blockquote {
    width: calc(50% - .5em);
  }
}
