@import "vars";

.full-width-image {
  height: 50vh;
  background: no-repeat center center;
  background-size: cover;
}

.photo-right {
  float: right;
  margin: $padding * 2;
  margin-right: 0;
}

.photo-left {
  float: left;
  margin: $padding * 2;
  margin-left: 0;
}

.image {
  &--lazy-wrapper {
    opacity: 0;
  }
}
