.container {
  padding: 0 $padding;
}
@media only screen
  and (max-width: $breakpointMedium) {
  .container {
    width: auto;
    margin: 0;
  }
}
@media only screen
  and (min-width: $breakpointMedium) {
  .container {
    width: $breakpointMedium;
    margin: 0 auto;
  }
}
@media only screen
  and (min-width: $breakpointLarge) {
  .container {
    width: $breakpointLarge;
    margin: 0 auto;
  }
}

.cols {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

ul.cols {
  list-style: none;
}

@import "header";
@import "content";
@import "footer";