.container {
  padding: 0 $padding;
}
// small only
@media only screen and (max-width: $breakpointMedium) {
  .container {
    width: auto;
    margin: 0;
  }
}

// small and medium only
@media only screen and (max-width: $breakpointLarge) {
  body article header .container {
    display: block;
    nav {
      margin-left: 0;
    }
  }
}

// medium and large
@media only screen and (min-width: $breakpointMedium) {
  .container {
    width: $breakpointMedium;
    margin: 0 auto;
  }
}

// large only
@media only screen and (min-width: $breakpointLarge) {
  .container {
    width: $breakpointLarge;
    margin: 0 auto;
  }
}

.cols {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

ul.cols {
  list-style: none;
}

@import "header";
@import "content";
@import "footer";