$pageBackgroundColor: #222;

$padding: 10px;

$breakpointSmall: 768px;
$breakpointMedium: 960px;
$breakpointLarge: 1200px;

$headingFont: 'Halant', serif;
$copyFont: 'Open Sans', sans-serif;

$textColor: white;

$transitionLength: .1s;