$pageBackgroundColor: #222;
$highlightColor: rgb(75, 106, 144);

$padding: 10px;

$breakpointSmall: 768px;
$breakpointMedium: 960px;
$breakpointLarge: 1200px;

$headingFont: 'Halant', serif;
$copyFont: 'Open Sans', sans-serif;

$textColor: invert($pageBackgroundColor);

$transitionLength: .1s;
