@import "../../bower_components/normalize-scss/_normalize.scss";
@import "vars";
@import "mixins";
@import "layout";
@import "icons";

html {
  font-family: $copyFont;
  background-color: $pageBackgroundColor;
  line-height: 2;
}

* {
  box-sizing: border-box;
}

body > svg {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
  margin: $padding 0;
  line-height:1.1;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

.button {
  display: inline-block;
  background-color: $highlightColor;
  padding: 3px 10px;
  color: $textColor;
  border:0;
  border-bottom: 3px solid darken($highlightColor, 10%);
  text-decoration: none;
  border-radius: 3px;
  transition: all $transitionLength ease-in-out;
  text-align: center;

  &:hover {
    background-color: lighten($highlightColor, 5%);
    border-bottom-color: darken($highlightColor, 5%);
  }
}